Actividad2/biblioteca.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <annotation>
        <documentation>
            Estructura Biblioteca
        </documentation>
    </annotation>
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro"  maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"/>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulo_cap"/>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" default=""></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="num_pag" use="required">
                                                                <simpleType>
                                                                    <restriction base="integer">
                                                                        <minExclusive value="0"></minExclusive>
                                                                        <maxInclusive value="200"></maxInclusive>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string"/>
                                        <element name="sinopsis" type="string"/>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[L][0-9]{4}"></pattern>
                                             </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="didactico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" use="required">
                                        <simpleType>
                                            <restriction base="integer">
                                                <minExclusive value="0"></minExclusive>
                                                <maxInclusive value="2000"></maxInclusive>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"/>
                                        <element name="numero_revista" type="integer"/>
                                        <element name="indice"/>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulo_sec"/>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" default=""></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="num_pag" type="integer"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[R][0-9]{4}"></pattern>
                                             </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" use="required">
                                        <simpleType>
                                            <restriction base="integer">
                                                <minExclusive value="0"></minExclusive>
                                                <maxInclusive value="500"></maxInclusive>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo">
                                                                    <complexType>
                                                                        <simpleContent>
                                                                            <extension base="string">
                                                                                <attribute name="autor" type="string"></attribute>
                                                                            </extension>
                                                                        </simpleContent>
                                                                    </complexType>
                                                                </element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" default=""></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_sec">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="opinion"></enumeration>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice"></element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[P][0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="date" use="required">
                                    </attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>